<div id="table-container" class="shadow-2xl dark:bg-base-300 h-full w-full flex flex-col rounded-sm md:rounded-2xl">
  <div class="flex justify-between items-center w-full bg-primary-content md:rounded-t-2xl p-3 ">
    <h1 class="text-xl p-3 card-title">
      Mantenimiento
    </h1>
    <input type="text" class="input input-bordered input-sm mr-3" placeholder="Buscar" (input)="busquedaEquipos(txtSearchQuery.value)" #txtSearchQuery/>
  </div>
  <div class="flex-1 flex flex-col overflow-scroll">
    <!-- aqui comienza la tabla -->
    @if(equipos$ | async; as equipos) {
      <table class="table table-sm table-pin-rows">
        @for(item of equipos; track $index) {
        <!-- head -->
        <thead>
          <tr class="bg-primary-content md:text-lg">
            <th class="text-left"><span class="cursor-pointer hover:bg-accent hover:bg-opacity-40 p-1 rounded-lg transition-all" [routerLink]="'/dashboard/equipos/'+item.activo">Activo <div class="badge badge-accent md:badge-lg">{{item.activo}}</div></span>   Revisiones <div class="badge badge-neutral md:badge-lg">{{item.mantenimientos?.length || '0'}}</div></th>
            @if(item.proximoMantenimiento){
              <th class="text-right">Próximo <div class="badge badge-neutral md:badge-lg">{{item.proximoMantenimiento | date:'dd/MM/yy'}}</div></th>
            }@else {
              <th class="text-right">Próximo <button [routerLink]="'/dashboard/equipos/'+item.activo" class="badge badge-neutral md:badge-lg hover:bg-success hover:text-black cursor-pointer">Agenda uno nuevo</button></th>
            }
          </tr>
        </thead>
        <tbody class="overflow-y-auto">
          <tr class="bg-base-300">
            <td class="text-center p-3 bg-base-300" colspan="2" rowspan="2">
              @if(item.mantenimientos) {
                @for(mantenimiento of item.mantenimientos; track $index) {
                  <div class="w-full flex justify-center">
                    <div class="py-1 px-2 mb-4 rounded-md text-xl flex justify-between gap-10 md:gap-24 xl:gap-44 cursor-pointer hover:bg-base-content hover:bg-opacity-30 hover:transition-all">
                      <span class="text-left">Técnico: {{mantenimiento.tecnico | titlecase}}</span>
                      <span class="font-bold text-right">Fecha: {{mantenimiento.fecha| date:'dd/MM/yy'}}</span>
                    </div>
                  </div>
                }
              }@else {
                <div class="py-6 card-title w-full justify-center">Aún no hay información</div>
              }
              <button class="btn btn-primary btn-sm" [routerLink]="'/dashboard/mantenimiento/'+item.activo+'/nuevo'">Agregar nuevo +</button>
            </td>
          </tr>
        </tbody>
      }
      </table>
        @if(equipos.length == 0) {
          <div class="card-title flex-1 self-center justify-self-center">La búsqueda {{searchQuery()}} no dió resultados</div>
        }
      }
       @else {
        @for(item of [].constructor(4); track $index) {
          <div class="skeleton flex-1 m-2"></div>
        }
      }
  </div>
  <div class="flex justify-center items-center w-full bg-primary-content md:rounded-b-2xl p-3">
    @if(equipos$ | async; as equipos) {
      <div class="badge badge-neutral">{{equipos.length}} Elementos</div>
    }@else {
      <div class="badge badge-neutral">Cargando</div>
    }
  </div>
</div>