

<div class="w-full  p-8 rounded-lg shadow-xl bg-primary-content">
  <form class="space-y-6" [formGroup]="form" (ngSubmit)="login()">
      <h5 class="card-title">Iniciar Sesión</h5>
      <div class="form-control">
          <div class="label">
              <label class="label-text">Usuario</label>
            </div>
            <input type="email" formControlName="email" id="email" class="input input-bordered" [ngClass]="{'input-error': isFormInvalid}" placeholder="nombre.benso" (focus)="resetFormStatus()">
      </div>
      <div class="form-control">
        <div class="label">
            <label class="label-text">Contraseña</label>
        </div>
          <input type="password" formControlName="password" id="password" placeholder="••••••••" class="input input-bordered" [ngClass]="{'input-error': isFormInvalid}" (focus)="resetFormStatus()">
      </div>
      <div class="flex relative items-start">
        @if(isFormInvalid) {
            <p class="absolute -top-4 mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Correo o contraseña incorrecta</span></p>
        }
      </div>
      <div class="form-control">
            <div class="flex items-center">
                <input id="remember" formControlName="persistanse" type="checkbox" value="" class="checkbox">
                &nbsp;
                <label for="remember" class="">Mantener sesión iniciada</label>
            </div>
      </div>
      <button type="submit" class="btn btn-primary w-full">Iniciar Sesión</button>
  </form>
</div>