<div class= "shadow-2xl dark:bg-base-300 w-full rounded-md">
  <div class="flex justify-between items-center w-full bg-sky-50 dark:bg-inherit rounded-md">
    <h1 class="text-xl p-3">Equipos</h1>
    <button class="btn btn-primary btn-sm mr-3" routerLink="nuevo">Agregar Nuevo 
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    </button>
  </div>
  <div class="w-full max-h-full overflow-x-scroll overflow-y-scroll">
    <!-- aqui comienza la tabla -->
    @if(equipo$ | async) {
      <table class="table table-sm">
        <!-- head -->
        <thead class="bg-sky-50 dark:bg-base-300">
          <tr>
            <th>Activo</th>
            <th class="hidden md:table-cell">Fecha entrega</th>
            <th class="hidden md:table-cell">Modelo</th>
            <th class="hidden md:table-cell">Serie</th>
            <th class="hidden md:table-cell">Dirección</th>
            <th>Nombre Local</th>
            <th>Teléfono</th>
            <th>Encargado</th>
          </tr>
        </thead>
        <tbody>
          @for(item of equipo$ | async; track $index) {
          <tr class="h-16"[routerLink]="item.activo" [classList]="$odd ? 'bg-base-100 cursor-pointer hover:bg-sky-100 dark:hover:bg-teal-950 rounded-md' : 'bg-base-200 cursor-pointer hover:bg-sky-100 dark:hover:bg-teal-950 rounded-md'" >
            <td><div class="badge badge-accent">{{ item.activo }}</div></td>
            <td class="hidden md:table-cell">{{item.fechaDeEntrega| date:'MM/dd/YY'}}</td>
            <td class="hidden md:table-cell">{{ item.modelo }}</td>
            <td class="hidden md:table-cell">{{ item.serie }}</td>
            <td class="max-w-40 hidden md:table-cell">{{ item.direccion | titlecase}}</td>
            <td class="max-w-40">{{ item.nombreLocal | titlecase}}</td>
            <td>{{ item.telefono | slice:0:4}} {{ item.telefono | slice:4:8}}</td>
            <td>{{ item.encargado | titlecase }}</td>
          </tr>
          }
        </tbody>
      </table>
      } @else {
        @for(item of [].constructor(6); track $index) {
          <div class="skeleton w-full h-16 m-3"></div>
        }
      }
  </div>
  <div class="flex justify-between items-center w-full bg-sky-50 dark:bg-inherit rounded-md">
    <h1 class="text-xl p-3">paginador aqui</h1>
  </div>
</div>
